[Desktop Entry]
Name=Restore KODI User Profile
Comment=Restore KODI User Profile
Exec=gnome-terminal -- sh -c 'cd "'"$(dirname %k)"'"; sudo bash ./restoredb.sh'
Icon=org.gnome.DiskUtility
Type=Application